<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    	<!--网页编码，要使用的外部文件，自动适应屏幕-->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" media="screen">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		<title>栅格系统</title>
	</head>
 
	<body class="setbg">

		<div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3">
				<a href="#" class="thumbnail">
					<img src="img/xiaohuangren.png"
						 alt="通用的占位符缩略图">
				</a>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<a href="#" class="thumbnail">
					<img src="img/xiaohuangren.png"
						 alt="通用的占位符缩略图">
				</a>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<a href="#" class="thumbnail">
					<img src="img/xiaohuangren.png"
						 alt="通用的占位符缩略图">
				</a>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<a href="#" class="thumbnail">
					<img src="img/xiaohuangren.png"
						 alt="通用的占位符缩略图">
				</a>
			</div>
		</div>
		
	</body>
</html>